DB_HOST=your_db_host
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=UMTP_RB
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
MYSQL_ROOT_PASSWORD=1234
MYSQL_DATABASE=UMTP_RB
MYSQL_USER=umtp
MYSQL_PASSWORD=1234